Importing Required Modules

In [5]:
import pandas as pd
import pandas_datareader as pdr
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
import quandl
import datetime as dt

In [6]:
aapl = pdr.get_data_yahoo('AAPL',start=dt.datetime(2006,10,1),end=dt.datetime(2012,1,1))

In [7]:
aapl.head()

                 High        Low       Open      Close     Volume  Adj Close
Date
2006-10-02  10.838572  10.614285  10.728572  10.694285  178159800   9.283074
2006-10-03  10.707143  10.455714  10.635715  10.582857  197677200   9.186352
2006-10-04  10.780000  10.451428  10.585714  10.768572  207270700   9.347562
2006-10-05  10.880000  10.590000  10.647142  10.690000  170970800   9.279355
2006-10-06  10.720000  10.544286  10.631429  10.602858  116739700   9.203714

In [9]:
aapl.tail()

                 High        Low       Open      Close    Volume  Adj Close
Date
2011-12-23  57.655716  57.070000  57.098572  57.618572  67349800  50.015266
2011-12-27  58.441429  57.574287  57.585712  58.075714  66269000  50.412094
2011-12-28  58.321430  57.334286  58.127144  57.520000  57165500  49.929707
2011-12-29  57.950001  57.215714  57.628571  57.874287  53994500  50.237251
2011-12-30  58.040001  57.641430  57.644287  57.857143  44915500  50.222366